*{
	margin:0;
}
html, body{
	height:100%;
}
/*Main Container */
.main{
	height:100%;
}
/* Nav-Bar */
.navbar{
	min-height:100px;
	padding-top:1em;
	padding:1em 4em 1em 4em;
	background-color:rgba(255,255,255,1);
}

.navbar-brand{
	font-size: 40px;
	height:auto;
	color:black !important;
	font-weight: 300;
}
	.navbar-brand:hover{
		color:gold !important;
	}

/*Left Panel */
.left-panel{
	padding-top:100px;
	padding-left:2em;
	padding-right:2em;
	border:2px solid black;
	width:30%;
	max-width:400px;
	min-width:200px;
	margin-left:0 !important;
	height:100%;
	position:relative;
	background-color: rgba(126,200,181,0.9);
	overflow:scroll;
}
input{
	font-weight:300 !important;
	height:50px !important;
}
.btn{
	font-weight:300 !important;
}
/*Right Panel*/
.right-panel{
	position:relative;
	height:100%;
	width:70%;
	padding-top:100px;

}
	/*Categories List*/
	ul{
		padding-left: 0px;
	}
	ul li {
		list-style-type: none;
		margin:1em 0px;
	}
	.categ-list{
		padding-top:1em;
	}
	.categ-list li > .btn{
		width: 100%;
	}

	/*Map*/
	.map{
		background:url('../img/gmaps.jpg') no-repeat center center;
		height:100%;
		position:relative;
		top:0;
	}

/*Footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top:2em;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
}

p.social i {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 50%;
	font-size: 16px;
	margin: 0 10px 0 0;
}
h5{
	font-weight: 300;
}


