*{
	margin:0;
}
html, body{
	height:100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #f5f5f5;
}

/* Nav-Bar */
.navbar{
	min-height:100px;
	padding-top:1em;
	padding:1em 4em 1em 4em;
}

.navbar-brand{
	font-size: 32px;
	height:auto;
	color:black !important;
	font-weight: 300;
}
	.navbar-brand:hover{
		color:gold !important;
	}

/*Left Panel */
.left-panel{
	padding-top:100px;
	padding-left:2em;
	padding-right:2em;
	border:2px solid black;
	width:30%;
	margin-left:0 !important;
	height:100%;
	position:relative;
}
	/*Categories List*/
	ul{
		padding-left: 0px;
	}
	ul li {
		list-style-type: none;
		margin:5px 0px;
	}
	.categ-list{
		padding-top:1em;
	}
	.categ-list li > .btn{
		width: 100%;
	}

/*Main Container */
.main{
	height:100%;
}
