<div>
	<div id="map_canvas">
		
	</div>

</div>
<div class="text-center left-side-menu startHidden">
	<h1 class="cate-title">Categories</h1>
	<div id="catMuseums" class="btn-group-lg category startHidden">
		<btn class="btn btn-large btn-info filter" value="Art">Art</btn>
		<btn class="btn btn-large btn-success filter" value="Fun for Kids">Kids</btn>
		<btn class="btn btn-large btn-warning filter" value="History">History</btn>
		<btn class="btn btn-large btn-danger filter" value="Fancy">Other</btn>
	</div>

	<div id="catBuildings" class="btn-group-md	 category startHidden">
		<btn class="btn btn-small btn-info filter" value="Bridge">Bridge</btn>
		<btn class="btn btn-small btn-success filter" value="skyscraper">Skyscrapers</btn>
		<btn class="btn btn-small btn-warning filter" value="low-rise building">Low Rise </btn>
		<btn class="btn btn-small btn-danger filter" value="high-rise building">High Rise </btn>
	</div>
</div>
<div class="hider startHidden" id="hider"><span><i class="fa fa-chevron-right fa-2x" title="Categories"></i><span></div>

<style>
	.filter{
		width:100%;
		margin-bottom:5px;
	}
	.cate-title{
		font-size:50px !important;
		color:white;
		padding-right:10px;
	}
	.btn{
	}
</style>